* {
  font-family: "Lucida Console", monospace;
}
h1{
  font-family:"Pacifico", cursive;
  text-align:center;
  transition: transform 0.3s ease;
}
h1:hover{
    color:rgb(74, 26, 94);
    transform:scale(1.3);
}
.formHAHA{
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(176, 196, 228);
    width:60%;
    max-width:80%;
    top:20%;
    border-radius:10px;
    opacity:0.7;
    border: 4px solid rgb(99, 112, 183);
    box-shadow: 0 0 10px rgb(117, 117, 117);
}
.signups{
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(176, 196, 228);
    width:80%;
    max-width:90%;
    top:20%;
    border-radius:10px;
    opacity:0.7;
    border: 4px solid rgb(99, 112, 183);
    box-shadow: 0 0 10px rgb(117, 117, 117);
    overflow-x:auto;
}
body{
    background-image:url('https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.change{
    color: rgb(111, 87, 162);
    border: 4px solid;
}
input[type="submit"], input[type="reset"], button{
    background-color: rgb(141, 108, 207);
    border-radius:4px;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:15px;
    transition: transform 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover{
    background-color:rgb(81, 43, 111);
    color:rgb(255, 255, 255);
    transform: scale(1.2);
}
.tableSignUps{
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    max-width:80%;
    border-collapse:collapse;
}

