* {
  font-family: "Lucida Console", monospace;
}
h1{
  font-family:"Pacifico", cursive;
  text-align:center;
}
.formHAHA{
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(176, 196, 228);
    width:60%;
    top:20%;
    border-radius:10px;
    opacity:0.7;
    border: 4px solid rgb(99, 112, 183);
}
body{
    background-image:url('https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.change{
    color: rgb(119, 119, 216);
    border: 2px solid;
}
input[type="submit"], input[type="reset"] {
    background-color: rgb(172, 144, 227);
    border-radius:4px;
    font-size:15px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:15px;
}

input[type="submit"]:hover, input[type="reset"]:hover{
    background-color:rgb(102, 57, 137);
    color:white;
}
